*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #003AA5;
}

#main-container {
    max-width: 90%;
    margin: 0 auto;
}

.button {
    padding: 10px 25px;
    border-radius: 10px;
    border: 1px solid #003AA5;
    outline: none;
}

.button:hover {
    transition: all 350ms;
    cursor: pointer;
}

.blue {
    color: #ffffff;
    background-color: #003AA5;
    border: none;
    outline: none;
}

.blue:hover{
    background-color: #084bc7;
}

.white {
    color: #003AA5;
    background-color: white;
}

.nav-bar {
    background-color: white;
    padding: 18px;
    max-width: 90vw;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    border-radius: 35px;
    color: #3D3D3D;
    margin: 40px auto;

    .nav-icons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }
    
    .nav-left{
        display: flex;
        align-items: center;
        gap: 70px;
        width: 40%;
        
        .nav-icons{
            display: flex;
            gap: 30px;

            a{
                text-decoration: none;
                color: #3D3D3D;
                font-weight: 400;
            }
        }
    }
    .nav-right{
        display: flex;
        width: 30%;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}

.heroSection-1 {
    display: flex;
    justify-content: space-between;

    .left-heroSection-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #ffffff;
        width: 50%;
        line-height: 1.5;

        h1{
            font-size: 68px;
            font-weight: 600;
            max-width: 90%;
        }

        p{
            font-size: 30px;
            font-weight: 400;
            max-width: 70%;
        }

        .highlight {
            color: #F5D830;
        }

        .black {
            background-color: #3D3D3D;
            padding: 20px 10px;
            border: none;
            outline: none;
            color: #ffffff;
            font-size: 20px;
        }

        .heroButtons {
            display: flex;
            gap: 20px;

            button{
                display: flex;
                justify-content: center;
                gap: 8px;

                img {
                    max-width: 20%;
                }
            }
        }
    }

    .right-heroSection-1 {
        padding-top: 20px;
        img {
            max-height: 90%;
        }
    }
}

.heroSection-2{
    background-color: #FFFFFF;
    border-bottom: 2px solid #86adf1;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    color: #3D3D3D;


    .flex {
        max-width: 20%;

        h4 {
            color: black;
            font-weight: 600;
            font-size: 20px;
        }

        .highlight {
            color: #F5D830;
        }
    }

    .flexbox {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        

        .blue {
            color: #003AA5;
            background-color: transparent;
            font-size: 60px;
        }

        .miniFlex {        
            font-size: 20px;
        }
    }
}


.heroSection-3 {
    background-color: #FFFFFF;
    padding: 70px 0 50px;
    
    
    .text {
        text-align: center;
        color: #3D3D3D;

        h1 {
            font-size: 60px;
            font-weight: 600;
        }

        p {
            font-size: 20px;
            font-weight: 500;
        }
    }
}

.heroSection-4 {
    background-color: #FFFFFF;
    max-height: 40%;

    .grid-layout {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        margin: 0 auto;
        padding: 30px 50px;

        .grid {
            background-color: #ffffff;
            border-radius: 30px;
            box-shadow: -4px 0 6px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
            max-height: 500px;
            position: relative;
            display: flex;
            flex-direction: column;
            padding: 30px 10px 0 30px;
            color: #3D3D3D;
            transition: transform 0.3s ease, box-shadow 0.3s ease;

            &:hover {
                transform: translateY(-5px);
                box-shadow: -6px 0 10px rgba(0, 0, 0, 0.3), 0 6px 10px rgba(0, 0, 0, 0.3);
            }

            h2 {
                font-size: 25px;
                font-weight: 600;
            }

            p {
                font-size: 18px;
                max-width: 60%;
                line-height: 1.5;
                margin-top: 30px;
            }

            .bottom-layout {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .bottom-left {
                display: flex;
                align-items: center;
                height: 10%;
                gap: 20px;

                img {
                    max-width: 50%;
                    height: 30%;
                    object-fit: cover;
                }
            }

            h4 {
                font-size: 20px;
                font-weight: 500;
            }

            .bottom-right {
                img {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
            }
        }

        .grid:hover {
            background-color: #003AA5;
            color: #ffffff;
            cursor: pointer;
        }
    }
}

.heroSection-5 {
   .text {
        background-color: #ffffff;
        text-align: center;
        padding: 30px 0;
        color: #3D3D3D;

        h2 {
            font-size: 40px;
        }

        p {
            font-size: 18px;
            font-weight: 500;
        }
   }
}

.heroSection-6 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding:  40px;
    color: #FFFFFF;
    gap: 20px;
    max-height: 100vh;

    .right-heroSection-6 {
        width: 100%;
       img {
            height: 70%;
        }
    }

    .button {
        display: flex;
        justify-content: center;
        gap: 5px;
        align-items: center;
        max-width: 30%;
        border-radius: 25px;
        padding: 12px;
        color: #178FEB;
        font-size: 18px;

        img{
            max-width: 20%;
        }
    }
}

.header {
    padding: 20px 0;
    h2 {
        font-size: 40px;
        font-weight: 600;
    }

    p {
        font-size: 16px;
        font-weight: 500;
    }
}

.rightBorder {
    padding: 10px 0;
}

.first {
    display: flex;
    gap: 20px;
    padding: 10px 0;
    font-size: 20px;
    font-weight: 500;
}

.second {
    display: flex;
    gap: 30px;

    p {
        font-size: 18px;
        font-weight: 500;
    }

    .border {
        border: 1px solid #FFFFFF;
        height: 60px;
        margin-top: 10px;
    }
}

.heroSection-7 {
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 20px;

    .left-heroSection-7 {
        padding-top: 60px;

        img {
            max-width: 90%;
        }
    }

    .border {
        border-color: #003AA5;
    }

    .button {
        background-color: #084bc7;
        color: #FFFFFF;
        font-size: 18px;
    }

    .right-heroSection-7 {
        p {
            color: #003AA5 ;
        }

        .header {
            h2 {
                color: #003AA5;
            }
        }
        
        .button {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 40%;
            padding: 12px;
            border-radius: 25px;
        }

        img {
            max-width: 20%;
        }
    }
}

.heroSection-8 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    color: #FFFFFF;
    padding : 40px;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        max-width: 30%;
        border-radius: 25px;

        img {
            max-width: 40%;
        }
    }

    .right-heroSection-8 {
        padding-top: 50px;
        img {
            width: 90%;
            height: auto;
        }
    }

    .left-heroSection-8 {
        max-width: 80%;
    }

    button {
        outline: none;
        border: none;
    }
}


footer{
    width: 100vw;
    height: 100vh;
    background-color: #C8D1E3;

    img{
        max-width: 200px;
    }

    h2 {
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        padding: 40px 20px;
    }

    .footerFlex{
        display: flex;
       gap: 30px;
        justify-content: center;
        align-items: center;
        padding: 0 20px 40px 20px;
        
    }
}



